.btn, input {
	border-radius: 3px!important;
}

label {

	font-family:sans-serif;
	font-weight: 400!important;
	color:#888;
}

hr {

    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 


}


.btn {
	letter-spacing:0px;
}


body {

	background: #e1f2fc; 


}

.navbar {


}

.navbar-brand {
	color:#2d2d31!important;
}

.nav {
	text-shadow: none!important;
	color:#fff!important;
}

.iconTitle {
	font-family:'baskerville';color:#779!important;
	text-shadow: 0px 1px 5px #fff;
	font-size:30px;
}

.brandTitle {
	font-family:'baskerville';color:#fff!important;
	text-shadow: 0px 1px 5px #888;
}
.brandTitle:hover {
	text-shadow: 0px 1px 15px #bbb;
}


.bigTitle {
	font-size:6pc;line-height:5pc;font-weight:800;
	font-family:'baskerville';
	text-shadow:0px 1px 1px #fff;
	color:#2d2d3d;
}



.littleTitle {
	font-size:1pc;line-height:110px;font-weight:600;font-family:'arial';text-shadow:0px 1px 0px #fcfcfc;color:#3d2d2d;
}


.text-white {
	color:white!imporant;
}












